@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "SACAtendidoGridView" + ViewData["IdCampania"];
        settings.SettingsDetail.MasterGridName = "CampaniaSACGridView";
        settings.CallbackRouteValues = new { Controller = "SACAtendido", Action = "SACAtendidoGridViewPartial", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "SACAtendido", Action = "SACAtendidoGridViewPartialAddNew", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "SACAtendido", Action = "SACAtendidoGridViewPartialUpdate", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "SACAtendido", Action = "SACAtendidoGridViewPartialDelete", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;

        settings.SettingsPopup.EditForm.Height = 220;
        settings.SettingsPopup.EditForm.Width = 625;
        settings.SettingsPopup.EditForm.HorizontalAlign = DevExpress.Web.ASPxClasses.PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = DevExpress.Web.ASPxClasses.PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;
        
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        //settings.CommandColumn.ShowNewButton = true;
        settings.SettingsCommandButton.NewButton.Text = "Nuevo";
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        settings.KeyFieldName = "Pk_IdSAC_Atendido";

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 3;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };
        settings.Settings.ShowFilterRowMenu = true;

        settings.Columns.Add("Cultivo");
        settings.Columns.Add("SuperficieInundada", "Superficie Inundada").PropertiesEdit.DisplayFormatString = "n";

        int? IdEstado = Convert.ToInt32(ViewData["IdEstado"]);
        
        settings.Columns.Add(column =>
        {
            column.FieldName = "Fk_IdMunicipio";
            column.Caption = "Municipio";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = DXMVCWebApplication1.Models.Senasica.GetMunicipiosByEstado(IdEstado);
            comboBoxProperties.TextField = "Nombre";
            comboBoxProperties.ValueField = "Pk_IdMunicipio";
            comboBoxProperties.ValueType = typeof(int);
            comboBoxProperties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        });
        settings.Columns.Add("NumProductores", "Productores").PropertiesEdit.DisplayFormatString = "n";
        settings.Columns.Add("NumSitiosAAtender", "Superficie a Atender").PropertiesEdit.DisplayFormatString = "n";
       
        settings.Columns.AddBand(AnioAntBand =>
        {
            AnioAntBand.Caption = "Nivel de Infestación";
            AnioAntBand.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
            AnioAntBand.Columns.Add("NivelDeInfestacionProm", "Año Anterior Meta").PropertiesEdit.DisplayFormatString = "n";
            AnioAntBand.Columns.Add("NivelDeInfestObjetivo", "Objetivo").PropertiesEdit.DisplayFormatString = "n";
            //AnioAntBand.Columns.Add("NivelDeInfestAtendido", "Atendido");
        });
        //settings.Columns.Add("PrevalenciaEnMun", "Prevalencia en Municipio");
        //nuevo
        settings.SetEditFormTemplateContent(c =>
        {
            var sanidadac = ViewData["dataItem"] ?? c.DataItem;
            ViewContext.Writer.Write("<p>Edición de Población</p>");
            ViewContext.Writer.Write(
   "<table>" +
     "<tr>" +
         "<td>");

            Html.DevExpress().Label(
                   edtSettings =>
                   {
                       edtSettings.ControlStyle.CssClass = "label";
                       edtSettings.Text = "Municipio:";
                       edtSettings.AssociatedControlName = "Fk_IdMunicipio";
                   }
               )
               .Render();
            Html.DevExpress().ComboBox(
                edtSettings =>
                {
                    edtSettings.Name = "Fk_IdMunicipio";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.Properties.TextField = "Nombre";
                    edtSettings.Properties.ValueField = "Pk_IdMunicipio";
                    edtSettings.Properties.ValueType = typeof(int);
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                    edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    edtSettings.Properties.IncrementalFilteringDelay = 5;
                }
            )

            .BindList(DXMVCWebApplication1.Models.Senasica.GetMunicipiosByEstado(IdEstado))
               .Bind(DataBinder.Eval(sanidadac, "Fk_IdMunicipio"))
               .Render();


            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                           edtSettings.Text = "Cultivo:";
                           edtSettings.AssociatedControlName = "Cultivo";
                       }
                   )
                   .Render();
            Html.DevExpress().TextBox(
                edtSettings =>
                {
                    edtSettings.Name = "Cultivo";
                    edtSettings.Properties.NullText = "Campo Requerido";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                }
            )
            .Bind(DataBinder.Eval(sanidadac, "Cultivo"))
            .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                           edtSettings.Text = "Superficie Inundada:";
                           edtSettings.AssociatedControlName = "SuperficieInundada";
                       }
                   )
                   .Render();

            Html.DevExpress().SpinEdit(
                edtSettings =>
                {
                    edtSettings.Name = "SuperficieInundada";
                    edtSettings.Properties.MinValue = 0;
                    edtSettings.Properties.MaxValue = 999999999;
                    edtSettings.Properties.NumberType = SpinEditNumberType.Float;
                    edtSettings.Properties.Increment = 0.1M;
                    edtSettings.Properties.LargeIncrement = 1;
                    edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                    edtSettings.Properties.DisplayFormatString = "n";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                }
            )
            .Bind(DataBinder.Eval(sanidadac, "SuperficieInundada"))
            .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("</tr>");
            ViewContext.Writer.Write("<tr>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                           edtSettings.Text = "Número de Productores:";
                           edtSettings.AssociatedControlName = "NumProductores";
                       }
                   )
                   .Render();
            Html.DevExpress().SpinEdit(
                edtSettings =>
                {
                    edtSettings.Name = "NumProductores";
                    edtSettings.Properties.MinValue = 0;
                    edtSettings.Properties.MaxValue = 999999999;
                    edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                    edtSettings.Properties.Increment = 0.1M;
                    edtSettings.Properties.LargeIncrement = 1;
                    edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                    edtSettings.Properties.DisplayFormatString = "n";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                }
            )
            .Bind(DataBinder.Eval(sanidadac, "NumProductores"))
            .Render();
            ViewContext.Writer.Write("</td>");

            

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                           edtSettings.Text = "Superficie a Atender:";
                           edtSettings.AssociatedControlName = "NumSitiosAAtender";
                       }
                   )
                   .Render();
            Html.DevExpress().SpinEdit(
                edtSettings =>
                {
                    edtSettings.Name = "NumSitiosAAtender";
                    edtSettings.Properties.MinValue = 0;
                    edtSettings.Properties.MaxValue = 999999999;
                    edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                    edtSettings.Properties.Increment = 0.1M;
                    edtSettings.Properties.LargeIncrement = 1;
                    edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                    edtSettings.Properties.DisplayFormatString = "n";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                }
            )
            .Bind(DataBinder.Eval(sanidadac, "NumSitiosAAtender"))
            .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                           edtSettings.Text = "Año Anterior Meta:";
                           edtSettings.AssociatedControlName = "NivelDeInfestacionProm";
                       }
                   )
                   .Render();
            Html.DevExpress().SpinEdit(
                edtSettings =>
                {
                    edtSettings.Name = "NivelDeInfestacionProm";
                    edtSettings.Properties.MinValue = 0;
                    edtSettings.Properties.MaxValue = 999999999;
                    edtSettings.Properties.NumberType = SpinEditNumberType.Float;
                    edtSettings.Properties.Increment = 0.1M;
                    edtSettings.Properties.LargeIncrement = 1;
                    edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                    edtSettings.Properties.DisplayFormatString = "n";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                }
            )
            .Bind(DataBinder.Eval(sanidadac, "NivelDeInfestacionProm"))
            .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("</tr>");
            ViewContext.Writer.Write("<tr>");
            
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                           edtSettings.Text = "Nivel de Infestación Objetivo:";
                           edtSettings.AssociatedControlName = "NivelDeInfestObjetivo";
                       }
                   )
                   .Render();
            Html.DevExpress().SpinEdit(
                edtSettings =>
                {
                    edtSettings.Name = "NivelDeInfestObjetivo";
                    edtSettings.Properties.MinValue = 0;
                    edtSettings.Properties.MaxValue = 999999999;
                    edtSettings.Properties.NumberType = SpinEditNumberType.Float;
                    edtSettings.Properties.Increment = 0.1M;
                    edtSettings.Properties.LargeIncrement = 1;
                    edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                    edtSettings.Properties.DisplayFormatString = "n";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                }
            )
            .Bind(DataBinder.Eval(sanidadac, "NivelDeInfestObjetivo"))
            .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("<td>");
            //Html.DevExpress().Label(
            //           edtSettings =>
            //           {
            //               edtSettings.ControlStyle.CssClass = "label";
            //               edtSettings.Text = "Nivel de Infestación Atendido:";
            //               edtSettings.AssociatedControlName = "NivelDeInfestAtendido";
            //           }
            //       )
            //       .Render();
            //Html.DevExpress().SpinEdit(
            //    edtSettings =>
            //    {
            //        edtSettings.Name = "NivelDeInfestAtendido";
            //        edtSettings.ControlStyle.CssClass = "editor";
            //        edtSettings.ShowModelErrors = true;
            //        edtSettings.Width = Unit.Pixel(250);
            //    }
            //)
            //.Bind(DataBinder.Eval(sanidadac, "NivelDeInfestAtendido"))
            //.Render();
            ViewContext.Writer.Write("</td>");
            
            ViewContext.Writer.Write("<td>");
            //Html.DevExpress().Label(
            //           edtSettings =>
            //           {
            //               edtSettings.ControlStyle.CssClass = "label";
            //               edtSettings.Text = "Prevalencia en Municipio:";
            //               edtSettings.AssociatedControlName = "PrevalenciaEnMun";
            //           }
            //       )
            //       .Render();
            //Html.DevExpress().SpinEdit(
            //    edtSettings =>
            //    {
            //        edtSettings.Name = "PrevalenciaEnMun";
            //        edtSettings.ControlStyle.CssClass = "editor";
            //        edtSettings.ShowModelErrors = true;
            //        edtSettings.Width = Unit.Pixel(250);
            //    }
            //)
            //.Bind(DataBinder.Eval(sanidadac, "PrevalenciaEnMun"))
            //.Render();
            ViewContext.Writer.Write("</td>");

            
            ViewContext.Writer.Write("</tr>");
            ViewContext.Writer.Write("</table>");

            ViewContext.Writer.Write("<br>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                       }
                   )
                   .Render();
            Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnUpdat";
                    btnSettings.Text = "Guardar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "Content/Images/guardar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Images.Image.Width = 16;
                    btnSettings.ClientSideEvents.Click = "function(s, e){ SACAtendidoGridView" + ViewData["IdCampania"] + ".UpdateEdit(); }";
                }
            )
            .Render();

            Html.DevExpress().Button(
                        btnSettings =>
                        {
                            btnSettings.Name = "btnCance";
                            btnSettings.Text = "Cancelar";
                            btnSettings.ControlStyle.CssClass = "button";
                            btnSettings.Images.Image.Url = "Content/Images/cancelar.png";
                            btnSettings.ImagePosition = ImagePosition.Right;
                            btnSettings.Style["position"] = "relative";
                            btnSettings.Style["left"] = "5px";
                            btnSettings.ClientSideEvents.Click = "function(s, e){ SACAtendidoGridView" + ViewData["IdCampania"] + ".CancelEdit(); }";
                        }
                    )
                    .Render();
            ViewContext.Writer.Write("</br>");

        });

    });

    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()