@{
    ViewBag.Title = "Presupuesto para los Proyectos Autorizados Estatales";
}
<div style="float: right; margin-right: 20px"><a href="https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.2bn6wsx" target="_blank"><u>Ayuda</u></a>  |  <a href="https://docs.google.com/document/d/1nh28WSE1G7XGoMeeauq076EH3vk3rFTcIF4EVH60bwc/edit#bookmark=id.30j0zll" target="_blank"> <u>Preguntas Frecuentes</u></a></div>

<h3 style="font-size:17px; font:bold; text-align:center">PRESUPUESTO PARA LOS PROYECTOS DEL ESTADO</h3>
<h3 style="font-size: 13px; text-align: center; position: relative; top: -10px">Asigne aquí el presupuesto de los proyectos del estado</h3>

<br />
<br />
<br />
<br />

@Html.Action("ProyectoPresupuestoGridViewPartial")