@{
    ViewBag.Title = "Cierre Mensual";
}

<h3 style="font-size:17px; font:bold; text-align:center">VISUALIZA LOS CIERRES MENSUALES</h3>
<h3 style="font-size: 13px; text-align: center; position: relative; top: -10px">Registro de los Cierres Mensuales</h3>
<br>

@Html.Partial("~/Views/ExportExcelPDF/_ExportExcelPDF.cshtml", new ViewDataDictionary { { "Clave", DXMVCWebApplication1.Common.ListaPantallas.UE_CIERRE_MENSUAL } })

<br>
<br>


@Html.Action("CierreMensualGridViewPartialGeneral")
