@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "GridView9";
        settings.CallbackRouteValues = new { Controller = "TipoDeAccion", Action = "GridView9Partial" };

				settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "TipoDeAccion", Action = "GridView9PartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "TipoDeAccion", Action = "GridView9PartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "TipoDeAccion", Action = "GridView9PartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        
        ///// boton ayuda //////////
        ViewContext.Writer.Write(" &nbsp ");
        ViewContext.Writer.Write(" &nbsp ");
        ViewContext.Writer.Write(" <a href='https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.3as4poj'target='_blank'>Ayuda</a>");
        
		settings.KeyFieldName = "Pk_IDTipoDeAccion";

		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = false;
		settings.Settings.ShowFilterRow = true;
		settings.SettingsBehavior.AllowSelectByRowClick = true;

				settings.Columns.Add("Nombre");
			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()