@{
    var popUp = Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "popUpRepAnexoTecnico3";
        settings.Width = 300;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.PopupAnimationType = AnimationType.None;
        settings.HeaderText = "Anexo Técnico 3";
        settings.Modal = true;
        settings.ShowCloseButton = false;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;

        settings.SetContent(() =>
        {
            using (Html.BeginForm("IndexReporte", "ReporteAnexoTecnico3", FormMethod.Post, new { id = "ParamsRepEstado" }))
            {
                ViewContext.Writer.Write("<table>");
                ViewContext.Writer.Write("<tr><td>");
                //---------------------------------
                Html.DevExpress().Label(edtSettings =>
                {
                    edtSettings.ControlStyle.CssClass = "label";
                    edtSettings.Text = "Estado:";
                    edtSettings.Name = "labelUR";
                }).Render();
                ViewContext.Writer.Write("</td>");
                ViewContext.Writer.Write("<td>");

                Html.DevExpress().ComboBox(edtSettings =>
                {
                    edtSettings.Name = "ComboEstado"; // envía al reporte como parámetro "ComboEstado"
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.Properties.TextField = "Nombre";
                    edtSettings.Properties.ValueField = "Pk_IdEstado";
                    edtSettings.ToolTip = "Seleccione el Estado";
                    edtSettings.Properties.ValueType = typeof(int);
                    edtSettings.Width = Unit.Pixel(290);
                    edtSettings.Properties.NullText = "Campo Requerido";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Properties.EnableSynchronization = DefaultBoolean.True;
                    edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                }).BindList(DXMVCWebApplication1.Models.Senasica.Get_ReportEstadoByUsuario())
                .Render();
                //-----------------------
                ViewContext.Writer.Write("<br />");
                ViewContext.Writer.Write("</td></tr>");
                ViewContext.Writer.Write("<tr><td>");
                //---------------------------------
                Html.DevExpress().Label(edtSettings =>
                {
                    edtSettings.ControlStyle.CssClass = "label";
                    edtSettings.Text = "Fecha:";
                    edtSettings.Name = "labelFecha";
                }).Render();
                ViewContext.Writer.Write("</td>");
                ViewContext.Writer.Write("<td>");

                Html.DevExpress().DateEdit(edtSettings =>
                {
                    edtSettings.Name = "ComboFecha";
                    edtSettings.Properties.NullText = "Campo Requerido";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(290);
                    edtSettings.ToolTip = "DD/MM/YYYY";
                })
              .Render();
                ViewContext.Writer.Write("</td></tr>");
                ViewContext.Writer.Write("</table>");
                ViewContext.Writer.Write("<br />");

                ViewContext.Writer.Write("<div width=100% >");
                Html.DevExpress().Button(btnSettings =>
                {
                    btnSettings.Name = "btnAceptarReporte";
                    btnSettings.Text = "Aceptar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "/Content/Images/aceptar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Style["position"] = "relative";
                    btnSettings.Style["left"] = "5px";
                    btnSettings.UseSubmitBehavior = true;
                }).Render();
                Html.DevExpress().Button(btnSettings =>
                {
                    btnSettings.Name = "btnCancelarReport";
                    btnSettings.Text = "Cancelar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "/Content/Images/cancelar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Style["position"] = "relative";
                    btnSettings.Style["left"] = "10px";
                    btnSettings.ClientSideEvents.Click = "function(){returnHome();}";
                }).Render();
                Html.DevExpress().Label(ErrSettings =>
                {
                    ErrSettings.Name = "ErrorE";
                    ErrSettings.Style["Color"] = "Red";
                    ErrSettings.Style["padding-left"] = "200px";
                    if (ViewData["EditError"] != null)
                    {
                        ErrSettings.Text = ViewData["EditError"].ToString();
                    }
                }).Render();
                ViewContext.Writer.Write("</div>");
            }
        });
    });
}

@popUp.GetHtml()

<script type="text/javascript">
    window.onload = function(s, e)
    {
        popUpRepAnexoTecnico3.Show();
    }

    function returnHome() {
        window.location = "Home/Index";
    }
</script>