

@{
    ViewBag.Title = "Registro de Acciones por Campaña";
}

<h2>Registro de Acciones por Campaña</h2>
<h3>Registre aquí las Acciones por Campaña</h3>

@Html.Action("AccionXCampaniaGridViewPartial")