
@*@{
    ViewBag.Title = "No tiene permiso para ver esta página";
}*@
<br></br>
<br></br>
<br></br>
<br></br>
<h2>Usted no tiene permisos para visualizar esta página</h2>
<h3>Pongase en contacto con su administrador del sistema </h3>
<br></br>
<h3>Si necesita utilizar esta funcionalidad, por favor escriba un correo a administracion@simosica.org </h3>
