@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "InoCompSAGridView" + ViewData["IdCampania"];
        settings.SettingsDetail.MasterGridName = "CampaniaInoSAGridView";
        settings.CallbackRouteValues = new { Controller = "InoSAAtendido", Action = "InoCompSAGridViewPartial", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "InoSAAtendido", Action = "InoCompSAGridViewPartialAddNew", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "InoSAAtendido", Action = "InoCompSAGridViewPartialUpdate", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "InoSAAtendido", Action = "InoCompSAGridViewPartialDelete", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        
        settings.SettingsPopup.EditForm.Height = 220;
        settings.SettingsPopup.EditForm.Width = 625;
        settings.SettingsPopup.EditForm.HorizontalAlign = DevExpress.Web.ASPxClasses.PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = DevExpress.Web.ASPxClasses.PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;

        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        //settings.CommandColumn.ShowNewButton = true;
        settings.SettingsCommandButton.NewButton.Text = "Nuevo Registro";
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandColumn.ShowEditButton = true;

        settings.KeyFieldName = "Pk_IdInoCompSA";

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 3;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };

                
                int? IdEstado = Convert.ToInt32(ViewData["IdEstado"]);
                settings.Columns.Add(column =>
                {
                    column.FieldName = "Fk_IdMunicipio";
                    column.Caption = "Municipio";
                    column.ColumnType = MVCxGridViewColumnType.ComboBox;
                    var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                    comboBoxProperties.DataSource = DXMVCWebApplication1.Models.Senasica.GetMunicipiosByEstado(IdEstado);
                    comboBoxProperties.TextField = "Nombre";
                    comboBoxProperties.ValueField = "Pk_IdMunicipio";
                    comboBoxProperties.ValueType = typeof(int);
                    comboBoxProperties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                });
                settings.Columns.Add("Producto");
                settings.Columns.Add("ProductoresAtendidos").PropertiesEdit.DisplayFormatString = "n";
                settings.Columns.Add("Superficie").PropertiesEdit.DisplayFormatString = "n";
                settings.Columns.Add("Produccion", "Producción").PropertiesEdit.DisplayFormatString = "n";
                settings.Columns.Add("Acopio").PropertiesEdit.DisplayFormatString = "n";
                settings.Columns.Add("Manejo").PropertiesEdit.DisplayFormatString = "n";
                settings.Columns.Add("Envasado").PropertiesEdit.DisplayFormatString = "n";

                settings.Columns.AddBand(AnioAntBand =>
                {
                    AnioAntBand.Caption = "Año Anterior";
                    AnioAntBand.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                    AnioAntBand.Columns.Add("UpAnioAnterior", "Unidades de Prod.").PropertiesEdit.DisplayFormatString = "n";
                    AnioAntBand.Columns.Add("CabezasAnioAnt", "Cabezas").PropertiesEdit.DisplayFormatString = "n";
                });

                settings.Columns.AddBand(AnioActBand =>
                {
                    AnioActBand.Caption = "Año Actual";
                    AnioActBand.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
                    AnioActBand.Columns.Add("UpAnioActual", "Unidades de Prod.").PropertiesEdit.DisplayFormatString = "n";
                    AnioActBand.Columns.Add("CabezasAnioAct", "Cabezas").PropertiesEdit.DisplayFormatString = "n";
                });

                //Inicia Popup
                settings.SetEditFormTemplateContent(c =>
                {
                    var inocompsv = ViewData["dataItem"] ?? c.DataItem;
                    ViewContext.Writer.Write("<p>Atendido por Salud Animal</p>");
                    ViewContext.Writer.Write(
              "<table>" +
              "<tr>" +
                 "<td>");

                    Html.DevExpress().Label(
                          edtSettings =>
                          {
                              edtSettings.ControlStyle.CssClass = "label";
                              edtSettings.Text = "Municipio";
                              edtSettings.AssociatedControlName = "Fk_IdMunicipio";
                          }
                      )
                      .Render();
                    Html.DevExpress().ComboBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "Fk_IdMunicipio";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.Properties.TextField = "Nombre";
                            edtSettings.Properties.NullText = "Campo Requerido";
                            edtSettings.Properties.ValueField = "Pk_IdMunicipio";
                            edtSettings.Properties.ValueType = typeof(int);
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                            edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                            edtSettings.Properties.IncrementalFilteringDelay = 5;
                        }
                    )

                    .BindList(DXMVCWebApplication1.Models.Senasica.GetMunicipiosByEstado(IdEstado))
                       .Bind(DataBinder.Eval(inocompsv, "Fk_IdMunicipio"))
                       .Render();

                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                               edtSettings =>
                               {
                                   edtSettings.ControlStyle.CssClass = "label";
                                   edtSettings.Text = "Producto:";
                                   edtSettings.AssociatedControlName = "Producto";
                               }
                           )
                           .Render();
                    Html.DevExpress().TextBox(
                        edtSettings =>
                        {
                            edtSettings.Name = "Producto";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "Producto"))
                    .Render();
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Productores Atendidos:";
                                  edtSettings.AssociatedControlName = "ProductoresAtendidos";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "ProductoresAtendidos";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "ProductoresAtendidos"))
                    .Render();
                   
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                               edtSettings =>
                               {
                                   edtSettings.ControlStyle.CssClass = "label";
                                   edtSettings.Text = "Superficie:";
                                   edtSettings.AssociatedControlName = "Superficie";
                               }
                           )
                           .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "Superficie";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "Superficie"))
                    .Render();
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("</tr>");
                    ViewContext.Writer.Write("<tr>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Producción:";
                                  edtSettings.AssociatedControlName = "Produccion";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "Produccion";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "Produccion"))
                    .Render();
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Acopio:";
                                  edtSettings.AssociatedControlName = "Acopio";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "Acopio";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "Acopio"))
                    .Render();
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Manejo:";
                                  edtSettings.AssociatedControlName = "Manejo";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "Manejo";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "Manejo"))
                    .Render();
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Envasado:";
                                  edtSettings.AssociatedControlName = "Envasado";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "Envasado";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "Envasado"))
                    .Render();
                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("</tr>");
                    ViewContext.Writer.Write("<tr>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Up Año Anterior:";
                                  edtSettings.AssociatedControlName = "UpAnioAnterior";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "UpAnioAnterior";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "UpAnioAnterior"))
                    .Render();

                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Up Año Actual:";
                                  edtSettings.AssociatedControlName = "UpAnioActual";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "UpAnioActual";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "UpAnioActual"))
                    .Render();

                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Cabezas Año Ant.:";
                                  edtSettings.AssociatedControlName = "CabezasAnioAnt";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "CabezasAnioAnt";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "CabezasAnioAnt"))
                    .Render();

                    ViewContext.Writer.Write("</td>");
                    ViewContext.Writer.Write("<td>");
                    Html.DevExpress().Label(
                              edtSettings =>
                              {
                                  edtSettings.ControlStyle.CssClass = "label";
                                  edtSettings.Text = "Cabezas Año Act.:";
                                  edtSettings.AssociatedControlName = "CabezasAnioAct";
                              }
                          )
                          .Render();
                    Html.DevExpress().SpinEdit(
                        edtSettings =>
                        {
                            edtSettings.Name = "CabezasAnioAct";
                            edtSettings.Properties.MinValue = 0;
                            edtSettings.Properties.MaxValue = 999999999;
                            edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                            edtSettings.Properties.Increment = 0.1M;
                            edtSettings.Properties.LargeIncrement = 1;
                            edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                            edtSettings.Properties.DisplayFormatString = "n";
                            edtSettings.ControlStyle.CssClass = "editor";
                            edtSettings.ShowModelErrors = true;
                            edtSettings.Width = Unit.Pixel(250);
                        }
                    )
                    .Bind(DataBinder.Eval(inocompsv, "CabezasAnioAct"))
                    .Render();

                    ViewContext.Writer.Write("</td>");

                    ViewContext.Writer.Write("</tr>");
                    ViewContext.Writer.Write("</table>");

                    ViewContext.Writer.Write("<br>");
                    Html.DevExpress().Button(
                               btnSettings =>
                               {
                                   btnSettings.Name = "btnUpdatInoCompSAGridView";
                                   btnSettings.Text = "Guardar";
                                   btnSettings.ControlStyle.CssClass = "button";
                                   btnSettings.Images.Image.Url = "Content/Images/guardar.png";
                                   btnSettings.ImagePosition = ImagePosition.Right;
                                   btnSettings.Images.Image.Width = 16;
                                   btnSettings.ClientSideEvents.Click = "function(s, e){ InoCompSAGridView" + ViewData["IdCampania"] + ".UpdateEdit(); }";
                               }
                           )
                           .Render();

                    Html.DevExpress().Button(
                        btnSettings =>
                        {
                            btnSettings.Name = "btnCanceInoCompSAGridView";
                            btnSettings.Text = "Cancelar";
                            btnSettings.ControlStyle.CssClass = "button";
                            btnSettings.Images.Image.Url = "Content/Images/cancelar.png";
                            btnSettings.ImagePosition = ImagePosition.Right;
                            btnSettings.Style["position"] = "relative";
                            btnSettings.Style["left"] = "5px";
                            btnSettings.ClientSideEvents.Click = "function(s, e){ InoCompSAGridView" + ViewData["IdCampania"] + ".CancelEdit(); }";
                        }
                    )
                    .Render();
                    ViewContext.Writer.Write("</br>");
                });      
				
			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()