@{
    ViewBag.Title = "Error distribución";
}

<div style="position: absolute; margin-left: 50px">
    <div>
        <h2>Ha fallado la distribución</h2>
        <br />
        <h3>Posibles causas:</h3>
        <br />
        <h3>- No se ha distribuido la totalidad del recurso</h3>
        <h3>- Se ha excedido en la distribución</h3>
    </div>
    <br />
    <div>
        @Html.ActionLink("Ir a la página de inicio", "Index", "Home")
    </div>
</div>

