
<div id="LogoSimosicaBG" style="text-align:center; position:relative; top:100px">
    
    <img src="~/Content/Images/ssoriginalgris.png" style="width:600px" />
    <br />
    
    <h1 style="font-size:40px; top:0px">BIENVENIDO AL SIMOSICA</h1>
    <h2 style="font-size:15px;">
        SERVICIO DE GESTIÓN Y ADMINISTRACIÓN DE INFORMACIÓN PARA EL SEGUIMIENTO DEL PROGRAMA DE SANIDAD E INOCUIDAD AGROALIMENTARIA (PSIA)
    </h2>
    <img src="~/images/Franjas_Alfa.png" style="width:80%" />
</div>