@{
    ViewBag.Title = "Reporte de Actividades";
}

<h2>Reporte de Actividades</h2>
<h3>Registre aquí el resultado de las actividades que haya realizado </h3>

@Html.Action("RepActividadGridViewPartial")
