@{
    ViewBag.Title = "Index2";
}

<h3 style="font-size:17px; font:bold; text-align:center">PRESUPUESTO POR ESTADOS Y DIRECCIONES GENERALES</h3>
<h3 style="font-size: 13px; text-align: center; position: relative; top: -10px">RESUMEN DESGLOSADO</h3>

<br />
<br />
<br />
<br />


@Html.Action("PresGridViewPartial")