
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "AComision";
        settings.Style["position"] = "relative";
        settings.Style["left"] = "10px";

        settings.CallbackRouteValues = new { Controller = "ActaComision", Action = "ActaComisionGridViewPartial" };

        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsBehavior.ConfirmDelete = true;

        settings.SettingsPopup.EditForm.Height = 300;
        settings.SettingsPopup.EditForm.Width = 70;
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;

        settings.CommandColumn.ShowClearFilterButton = true;
        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 10;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };
        settings.Settings.ShowFilterRowMenu = true;

        settings.KeyFieldName = "Pk_IdActaComision";

        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.Settings.ShowFooter = true;

        DB_SENASICAEntities db = new DB_SENASICAEntities();
        int IdAnioPres = FuncionesAuxiliares.GetCurrent_IdAnioPresupuestal();
        int IdAnio = db.Anios.Where(i => i.Pk_IdAnio == IdAnioPres).Select(i => i.Anio1).First();

        settings.Columns.Add("Estado.Nombre", "Estado");
        if (IdAnio < 2018)
        {
            settings.Columns.Add("Me.Descripcion", "Mes");
        }
        else
        {
            settings.Columns.Add("MesByTrimestre.Descripcion", "Mes");
        }
        settings.Columns.Add("CT_Date", "Fecha de Publicación").PropertiesEdit.DisplayFormatString = "D";
        settings.Columns.Add(column =>
        {
            column.Caption = "Acta de Comisión";

            column.SetDataItemTemplateContent(c =>
            {

                ViewContext.Writer.Write("<table>");
                ViewContext.Writer.Write("<tr><td>");
                Html.DevExpress().Button(btnSettings =>
                {
                    btnSettings.Name = "btnSubirArchivo" + c.KeyValue.ToString();
                    btnSettings.ClientVisible = DataBinder.Eval(c.DataItem, "Documento") != null ? false : true;
                    btnSettings.Text = "";
                    btnSettings.ToolTip = "Subir Acta";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Images.Image.Width = 16;
                    btnSettings.Images.Image.Url = "/Content/Images/uploadFile.png";
                    btnSettings.ClientSideEvents.Click = "function(s, e){ ActaComisionUploadFile(" + c.KeyValue.ToString() + "); }";
                    btnSettings.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                }).Render();
                ViewContext.Writer.Write("</td>");
                
                ViewContext.Writer.Write("<td>");
                using (Html.BeginForm("DescargaActaComision", "ActaComision", new { IdActaComision = c.KeyValue.ToString() }, FormMethod.Post))
                {
                    Html.DevExpress().Button(btnSettings =>
                    {
                        btnSettings.Name = "btnDescargarActa" + c.KeyValue.ToString();
                        btnSettings.ClientVisible = (DataBinder.Eval(c.DataItem, "Documento") ?? "").ToString() != "";
                        btnSettings.Text = "";
                        btnSettings.ToolTip = "Descargar";
                        btnSettings.ControlStyle.CssClass = "button";
                        btnSettings.ImagePosition = ImagePosition.Right;
                        btnSettings.Images.Image.Width = 16;
                        btnSettings.Images.Image.Url = "/Content/Images/downloadFile.png";
                        btnSettings.UseSubmitBehavior = true;
                        btnSettings.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                    }).Render();
                }
                ViewContext.Writer.Write("</td></tr>");
                ViewContext.Writer.Write("</table>");
            });
        });
    });
}

@grid.Bind(Model).GetHtml()
