@{
    ViewBag.Title = "Catálogo Tipo de Actividad";
}

<div style="float: right; margin-right: 20px"><a href="https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.49x2ik5" target="_blank"><u>Ayuda</u></a>  |  <a href="http://soporte.simosica.com/support/solutions/articles/22000184563-preguntas-frecuentes" target="_blank"> <u>Preguntas Frecuentes</u></a></div>
 
<h3 style="font-size:17px; font:bold; text-align:center">CATÁLOGO TIPO DE ACTIVIDAD</h3>
<h3 style="font-size: 13px; text-align: center; position: relative; top: -10px">Registre aquí el Tipo de Actividad</h3>


<br>
<br>

@Html.Partial("~/Views/ExportExcelPDF/_ExportExcelPDF.cshtml", new ViewDataDictionary { { "Clave", DXMVCWebApplication1.Common.ListaPantallas.SIS_TIPO_ACTIVIDAD } })

<br>
<br>

@Html.Action("GridViewPartial")
