@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "ImportanciaEconomicaSAGridView";
        settings.CallbackRouteValues = new { Controller = "ImportanciaEconomicaSA", Action = "ImportanciaEconomicaSAGridViewPartial", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "ImportanciaEconomicaSA", Action = "ImportanciaEconomicaSAAddNew", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "ImportanciaEconomicaSA", Action = "ImportanciaEconomicaSAUpdate", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "ImportanciaEconomicaSA", Action = "ImportanciaEconomicaSADelete", IdCampania = ViewData["IdCampania"], IdEstado = ViewData["IdEstado"] };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;

        settings.SettingsText.PopupEditFormCaption = "Edición de la Importancia Económica de la Población";

        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;

        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.SettingsCommandButton.NewButton.Text = "Nuevo";
        settings.CommandColumn.ShowNewButtonInHeader = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowDeleteButton = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowEditButton = Convert.ToBoolean(ViewData["Escritura"]) || Convert.ToBoolean(ViewData["Lectura"]);

        settings.KeyFieldName = "Pk_IdImportanciaEconomicaSA";

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 5;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };
        settings.Settings.ShowFilterRowMenu = true;

        settings.Columns.Add("Municipio.Nombre", "Municipio");
        settings.Columns.Add("NumUnidadesProduccion", "Núm. Unidades Producción").PropertiesEdit.DisplayFormatString = "n";
        settings.Columns.Add("Especie.Nombre", "Especie");
        settings.Columns.Add("NumCabezas", "Núm. Cabezas").PropertiesEdit.DisplayFormatString = "n";
        settings.Columns.Add("FuncionZootecnica.Nombre", "Fun. Zootécnica");

        settings.Columns.AddBand(AnioAntBand =>
        {
            AnioAntBand.Caption = "Año Anterior al del Programa en Curso";
            AnioAntBand.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;

            AnioAntBand.Columns.Add("CantidadProduccion", "Cant. Producción").PropertiesEdit.DisplayFormatString = "n";
            AnioAntBand.Columns.Add("UnidadMedidaProduccion.Nombre", "U. Med. Producción");
            AnioAntBand.Columns.Add("ValorProduccion", "Valor de la Producción").PropertiesEdit.DisplayFormatString = "c";
            AnioAntBand.Columns.Add("NumAnimalesEnPieExportados", "Núm. Animales en pie exportados").PropertiesEdit.DisplayFormatString = "n";
        });
        settings.Columns.Add("DestinoProduccion.Nombre", "Dest. Producción");

        //Totales
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "NumUnidadesProduccion").DisplayFormat = "n";
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "NumCabezas").DisplayFormat = "n";
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "CantidadProduccion").DisplayFormat = "n";
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "ValorProduccion").DisplayFormat = "c";
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "NumAnimalesEnPieExportados").DisplayFormat = "n";
        settings.Settings.ShowFooter = true;

        // Custom
        settings.SetEditFormTemplateContent(c =>
        {
            var importanciaEconomica = ViewData["dataItem"] ?? c.DataItem;
            ViewContext.Writer.Write("<br >");

            ViewContext.Writer.Write("<table><tr><td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Municipio:";
                edtSettings.AssociatedControlName = "Fk_IdMunicipio";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().ComboBox(edtSettings =>
            {
                edtSettings.Name = "Fk_IdMunicipio";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.TextField = "Nombre";
                edtSettings.Properties.ValueField = "Pk_IdMunicipio";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.Properties.ValueType = typeof(int);
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                edtSettings.Properties.IncrementalFilteringDelay = 5;
                edtSettings.ToolTip = c.KeyValue == null ? "Seleccione un Municipio" : "Cambiar Municipio";
            }).BindList(DXMVCWebApplication1.Models.Senasica.GetMunicipiosByEstado(ViewData["IdEstado"] == null ? -1 : Convert.ToInt32(ViewData["IdEstado"])))
              .Bind(DataBinder.Eval(importanciaEconomica, "Fk_IdMunicipio"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Especie:";
                edtSettings.AssociatedControlName = "Fk_IdEspecie";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().ComboBox(edtSettings =>
            {
                edtSettings.Name = "Fk_IdEspecie";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.TextField = "Nombre";
                edtSettings.Properties.ValueField = "Pk_IdEspecie";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.Properties.ValueType = typeof(int);
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                edtSettings.Properties.IncrementalFilteringDelay = 5;
                edtSettings.ToolTip = c.KeyValue == null ? "Seleccione una Especie" : "Cambiar Especie";
            }).BindList(DXMVCWebApplication1.Models.Senasica.GetEspecie())
              .Bind(DataBinder.Eval(importanciaEconomica, "Fk_IdEspecie"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Función Zootécnica:";
                edtSettings.AssociatedControlName = "FK_IdFuncionZootecnica";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().ComboBox(edtSettings =>
            {
                edtSettings.Name = "FK_IdFuncionZootecnica";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.TextField = "Nombre";
                edtSettings.Properties.ValueField = "Pk_IdFuncionZootecnica";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.Properties.ValueType = typeof(int);
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                edtSettings.Properties.IncrementalFilteringDelay = 5;
                edtSettings.ToolTip = c.KeyValue == null ? "Seleccione un Función Zootécnica" : "Cambiar Función Zootécnica";
            }).BindList(DXMVCWebApplication1.Models.Senasica.GetFuncionZootecnica())
              .Bind(DataBinder.Eval(importanciaEconomica, "FK_IdFuncionZootecnica"))
              .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("</tr>");

            ViewContext.Writer.Write("<tr>");
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Unidad Medida de Producción:";
                edtSettings.AssociatedControlName = "FK_IdUnidadMedidaProduccion";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().ComboBox(edtSettings =>
            {
                edtSettings.Name = "FK_IdUnidadMedidaProduccion";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.TextField = "Nombre";
                edtSettings.Properties.ValueField = "Pk_IdUnidadMedidaProduccion";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.Properties.ValueType = typeof(int);
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                edtSettings.Properties.IncrementalFilteringDelay = 5;
                edtSettings.ToolTip = c.KeyValue == null ? "Seleccione una Unidad de Medida" : "Cambiar Unidad de Medida";
            }).BindList(DXMVCWebApplication1.Models.Senasica.GetUnidadMedidaProduccion())
              .Bind(DataBinder.Eval(importanciaEconomica, "FK_IdUnidadMedidaProduccion"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Destino de la Producción:";
                edtSettings.AssociatedControlName = "FK_IdDestinoProduccion";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().ComboBox(edtSettings =>
            {
                edtSettings.Name = "FK_IdDestinoProduccion";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.TextField = "Nombre";
                edtSettings.Properties.ValueField = "Pk_IdDestinoProduccion";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.Properties.ValueType = typeof(int);
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                edtSettings.Properties.IncrementalFilteringDelay = 5;
                edtSettings.ToolTip = c.KeyValue == null ? "Seleccione un Destino de Producción" : "Cambiar Destino de Producción";
            }).BindList(DXMVCWebApplication1.Models.Senasica.GetDestinoProduccion())
              .Bind(DataBinder.Eval(importanciaEconomica, "FK_IdDestinoProduccion"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("</td></tr></table>");

            ViewContext.Writer.Write("<br >");

            ViewContext.Writer.Write("<table><tr><td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Núm. Unidades de Producción:";
                edtSettings.AssociatedControlName = "NumUnidadesProduccion";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().SpinEdit(edtSettings =>
            {
                edtSettings.Name = "NumUnidadesProduccion";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.MinValue = 0;
                edtSettings.Properties.MaxValue = 999999999;
                edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                edtSettings.Properties.Increment = 1M;
                edtSettings.Properties.LargeIncrement = 5;
                edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                edtSettings.Properties.DisplayFormatString = "n";
                edtSettings.ToolTip = "Ingresar el Núm. Unidades de Producción";
            }).Bind(DataBinder.Eval(importanciaEconomica, "NumUnidadesProduccion"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Núm. Cabezas:";
                edtSettings.AssociatedControlName = "NumCabezas";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().SpinEdit(edtSettings =>
            {
                edtSettings.Name = "NumCabezas";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.MinValue = 0;
                edtSettings.Properties.MaxValue = 999999999;
                edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                edtSettings.Properties.Increment = 1M;
                edtSettings.Properties.LargeIncrement = 5;
                edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                edtSettings.Properties.DisplayFormatString = "n";
                edtSettings.ToolTip = "Ingresar el Núm. de Cabezas";
            }).Bind(DataBinder.Eval(importanciaEconomica, "NumCabezas"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Cantidad de Producción:";
                edtSettings.AssociatedControlName = "CantidadProduccion";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().SpinEdit(edtSettings =>
            {
                edtSettings.Name = "CantidadProduccion";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(220);
                edtSettings.Properties.MinValue = 0;
                edtSettings.Properties.MaxValue = 999999999;
                edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                edtSettings.Properties.Increment = 1M;
                edtSettings.Properties.LargeIncrement = 5;
                edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                edtSettings.Properties.DisplayFormatString = "n";
                edtSettings.ToolTip = "Ingresar la Cantidad de Producción";
            }).Bind(DataBinder.Eval(importanciaEconomica, "CantidadProduccion"))
              .Render();
            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("</tr>");

            ViewContext.Writer.Write("<tr>");
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Valor de la Producción ($):";
                edtSettings.AssociatedControlName = "ValorProduccion";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().SpinEdit(edtSettings =>
            {
                edtSettings.Name = "ValorProduccion";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.Properties.NullText = "Campo Requerido";
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.MinValue = 0;
                edtSettings.Properties.MaxValue = 999999999;
                edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                edtSettings.Properties.Increment = 1M;
                edtSettings.Properties.LargeIncrement = 5;
                edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                edtSettings.Properties.DisplayFormatString = "n";
                edtSettings.ToolTip = "Ingresar el Valor de la Producción ($)";
            }).Bind(DataBinder.Eval(importanciaEconomica, "ValorProduccion"))
              .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Núm. Anim. en Pie Export.:";
                edtSettings.AssociatedControlName = "NumAnimalesEnPieExportados";
            }).Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().SpinEdit(edtSettings =>
            {
                edtSettings.Name = "NumAnimalesEnPieExportados";
                edtSettings.ControlStyle.CssClass = "editor";
                edtSettings.ShowModelErrors = true;
                edtSettings.Width = Unit.Pixel(250);
                edtSettings.Properties.MinValue = 0;
                edtSettings.Properties.MaxValue = 999999999;
                edtSettings.Properties.NumberType = SpinEditNumberType.Integer;
                edtSettings.Properties.Increment = 1M;
                edtSettings.Properties.LargeIncrement = 5;
                edtSettings.Properties.SpinButtons.ShowLargeIncrementButtons = true;
                edtSettings.Properties.DisplayFormatString = "n";
                edtSettings.ToolTip = "Ingresar el Núm. Animales en pie exportados";
            }).Bind(DataBinder.Eval(importanciaEconomica, "NumAnimalesEnPieExportados"))
              .Render();

            ViewContext.Writer.Write("</td></tr></table>");

            ViewContext.Writer.Write("<br >");

            Html.DevExpress().Label(edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
            }).Render();

            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnUpdat";
                btnSettings.Text = "Guardar";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Images.Image.Url = "Content/Images/guardar.png";
                btnSettings.ImagePosition = ImagePosition.Right;
                btnSettings.Images.Image.Width = 16;
                btnSettings.ClientSideEvents.Click = "function(s, e){ ImportanciaEconomicaSAGridView.UpdateEdit(); }";
                btnSettings.ClientVisible = Convert.ToBoolean(ViewData["Escritura"]);
            }).Render();

            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnCance";
                btnSettings.Text = "Cancelar";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Images.Image.Url = "Content/Images/cancelar.png";
                btnSettings.ImagePosition = ImagePosition.Right;
                btnSettings.Style["position"] = "relative";
                btnSettings.Style["left"] = "5px";
                btnSettings.ClientSideEvents.Click = "function(s, e){ ImportanciaEconomicaSAGridView.CancelEdit(); }";
            }).Render();
            ViewContext.Writer.Write("</br>");
        });
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()