


@*@model IEnumerable*@

@{
    ViewBag.Title = "Actividades de la Campaña";
}
<script type="text/javascript">
    // <![CDATA[
    $(document).ready(function () {
        $("#editMode").change(function () {
            gvEditing.PerformCallback({ editMode: $("#editMode").val() });
        });
    });
    // ]]>
</script>

<h2>Actividades </h2>
<h3>Asignacion de Actividades a los Técnicos Operativos </h3>

@using (Html.BeginForm()){


@Html.Action("ActividadesGridViewPartial")

    
    

}




