@{
	var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "GridView";
        settings.Style["width"] = "98%";
        settings.Style["position"] = "relative";
        settings.Style["left"] = "10px";
        settings.CommandColumn.Width = 20;
        settings.CallbackRouteValues = new { Controller = "SubComponente", Action = "GridViewPartial" };

		settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "SubComponente", Action = "GridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "SubComponente", Action = "GridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "SubComponente", Action = "GridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsText.PopupEditFormCaption = "COMPONENTES DE LOS PROGRAMAS";

        settings.SettingsPopup.EditForm.Height = 180;
        settings.SettingsPopup.EditForm.Width = 725;
        settings.SettingsPopup.EditForm.HorizontalAlign = DevExpress.Web.ASPxClasses.PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = DevExpress.Web.ASPxClasses.PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;

        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButtonInHeader = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowDeleteButton = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowEditButton = Convert.ToBoolean(ViewData["Escritura"]) || Convert.ToBoolean(ViewData["Lectura"]);
        settings.CommandColumn.ShowClearFilterButton = true;

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 15;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };
        settings.Settings.ShowFilterRowMenu = true;

		settings.KeyFieldName = "Pk_IdSubComponente";

		settings.SettingsPager.Visible = true;
		settings.Settings.ShowGroupPanel = false;
		settings.Settings.ShowFilterRow = true;
		settings.SettingsBehavior.AllowSelectByRowClick = true;

        //settings.Columns.Add("Fk_IdComponente__SIS");
            settings.Columns.Add(column =>
            {
                column.FieldName = "Fk_IdIncentivo__SIS";
                column.Caption = "Incentivo";

                column.ColumnType = MVCxGridViewColumnType.ComboBox;
                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                comboBoxProperties.DataSource = DXMVCWebApplication1.Models.Senasica.GetIncentivo();
                comboBoxProperties.TextField = "Nombre";
                comboBoxProperties.ValueField = "Pk_IdIncentivo";
                comboBoxProperties.ValueType = typeof(int);
            });
            settings.Columns.Add("Nombre", "Concepto de Apoyo");

            settings.SetEditFormTemplateContent(c =>
            {
                var Incentivo = ViewData["dataItem"] ?? c.DataItem;
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.ControlStyle.CssClass = "label";
                        edtSettings.Text = c.KeyValue == null ? "Ingresa un Nuevo Concepto de Apoyo" : "Edita el Concepto de Apoyo";
                        edtSettings.Style["font-size"] = "18px";
                        edtSettings.Style["color"] = "orange";
                    }
                )
                .Render();
                ViewContext.Writer.Write("<br>");
                ViewContext.Writer.Write("</br>");

                ViewContext.Writer.Write("<table>" + "<tr>" + "<td>");

                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.ControlStyle.CssClass = "label";
                        edtSettings.Text = "Incentivo:";
                        edtSettings.AssociatedControlName = "Fk_IdIncentivo__SIS";
                    }
                )
                .Render();

                Html.DevExpress().ComboBox(
                   edtSettings =>
                   {
                       edtSettings.Name = "Fk_IdIncentivo__SIS";
                       edtSettings.ControlStyle.CssClass = "editor";
                       edtSettings.Properties.TextField = "Nombre";
                       edtSettings.Properties.NullText = "Campo Requerido";
                       edtSettings.ToolTip = c.KeyValue == null ? "Seleccione un Incentivo" : "Cambiar Incentivo";
                       edtSettings.Properties.ValueField = "Pk_IdIncentivo";
                       edtSettings.Properties.ValueType = typeof(int);
                       edtSettings.ShowModelErrors = true;
                       edtSettings.Width = Unit.Pixel(350);
                       edtSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                       edtSettings.Properties.IncrementalFilteringDelay = 5;
                   }
                )
                .BindList(DXMVCWebApplication1.Models.Senasica.GetIncentivo())
                .Bind(DataBinder.Eval(Incentivo, "Fk_IdIncentivo__SIS"))
                .Render();

                ViewContext.Writer.Write("</td>");
                ViewContext.Writer.Write("<td>");
                Html.DevExpress().Label(
                    edtSettings =>
                    {
                        edtSettings.ControlStyle.CssClass = "label";
                        edtSettings.Text = "Nombre del Concepto de Apoyo:";
                        edtSettings.AssociatedControlName = "Nombre";
                    }
                )
                .Render();


                Html.DevExpress().TextBox(
                    edtSettings =>
                    {
                        edtSettings.Name = "Nombre";
                        edtSettings.Properties.NullText = "Campo Requerido";
                        edtSettings.ToolTip = c.KeyValue == null ? "Ingresa el Nombre para el Concepto de Apoyo" : "Editar el Nombre para el Concepto de Apoyo";
                        edtSettings.ControlStyle.CssClass = "editor";
                        edtSettings.ShowModelErrors = true;
                        edtSettings.Width = Unit.Pixel(350);
                    }
                )
                .Bind(DataBinder.Eval(Incentivo, "Nombre"))
                .Render();

                ViewContext.Writer.Write("</td>");
                ViewContext.Writer.Write("</tr>");
                ViewContext.Writer.Write("</table>");

                //**Botones Guardar & Cancelar
                //ViewContext.Writer.Write("<br>");
                ViewContext.Writer.Write("<hr noshade>");
                Html.DevExpress().Label(
                           edtSettings =>
                           {
                               edtSettings.ControlStyle.CssClass = "label";
                           }
                       )
                       .Render();
                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnUpdat";
                        btnSettings.Text = "Guardar";
                        btnSettings.ControlStyle.CssClass = "button";
                        btnSettings.Images.Image.Url = "Content/Images/guardar.png";
                        btnSettings.ImagePosition = ImagePosition.Right;
                        btnSettings.Images.Image.Width = 16;
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridView" + ".UpdateEdit(); }";
                        btnSettings.ClientVisible = Convert.ToBoolean(ViewData["Escritura"]);
                    }
                )
                .Render();

                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnCance";
                        btnSettings.Text = "Cancelar";
                        btnSettings.ControlStyle.CssClass = "button";
                        btnSettings.Images.Image.Url = "Content/Images/cancelar.png";
                        btnSettings.ImagePosition = ImagePosition.Right;
                        btnSettings.Style["position"] = "relative";
                        btnSettings.Style["left"] = "5px";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridView" + ".CancelEdit(); }";
                    }
                )
                .Render();

                Html.DevExpress().Button(btnSettings =>
                {
                    btnSettings.Name = "btnAyuda";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Text = "Ayuda";
                    btnSettings.Images.Image.Url = "/Content/Images/ayuda.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Images.Image.Width = 16;
                    btnSettings.Style["position"] = "relative";
                    btnSettings.Style["left"] = "20px";
                    btnSettings.ClientSideEvents.Click = "function(s, e){ window.open('https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.4i7ojhp','_blank'); }";
                }).Render();

            });

			});
		if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()