
@{
    ViewBag.Title = "Flujo de proyectos de Campaña";
}

<div style="float: right; margin-right: 20px"><a href="https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.4h042r0" target="_blank"><u>Ayuda</u></a>  |  <a href="http://soporte.simosica.com/support/solutions/articles/22000184563-preguntas-frecuentes" target="_blank"> <u>Preguntas Frecuentes</u></a></div>
 
<h3 style="font-size:17px; font:bold; text-align:center">DEFINICIÓN DEL FLUJO DE LOS PROYECTOS Y CAMPAÑAS</h3>
<h3 style="font-size: 13px; text-align: center; position: relative; top: -10px">Registre el orden en el que cambian de estado los Proyectos y Campañas</h3>

@Html.Action("FlujoCampaniaGridViewPartial")




