@{
    var grid = Html.DevExpress().GridView(settings => {
        settings.Name = "CertificadosGridView";
        settings.Style["width"] = "98%";
        settings.Style["position"] = "relative";
        settings.Style["left"] = "10px";
        settings.CommandColumn.Width = 20;
        settings.CallbackRouteValues = new { Controller = "Certificacion", Action = "CertificadosGridViewPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Certificacion", Action = "CertificadosGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Certificacion", Action = "CertificadosGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Certificacion", Action = "CertificadosGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsText.PopupEditFormCaption = "CERTIFICADOS";

        settings.SettingsPopup.EditForm.Height = 200;
        settings.SettingsPopup.EditForm.Width = 525;
        settings.SettingsPopup.EditForm.HorizontalAlign = DevExpress.Web.ASPxClasses.PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = DevExpress.Web.ASPxClasses.PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;

        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButtonInHeader = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowDeleteButton = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowEditButton = Convert.ToBoolean(ViewData["Escritura"]) || Convert.ToBoolean(ViewData["Lectura"]);
        settings.CommandColumn.ShowClearFilterButton = true;  

        settings.KeyFieldName = "Pk_IdCertificacion";

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 10;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };
        settings.Settings.ShowFilterRowMenu = true;

        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.Columns.Add("Nombre");

        settings.SetEditFormTemplateContent(c =>
        {
            var certificado = ViewData["dataItem"] ?? c.DataItem;
            Html.DevExpress().Label(
                edtSettings =>
                {
                    edtSettings.ControlStyle.CssClass = "label";
                    edtSettings.Text = c.KeyValue == null ? "Ingresa un Certificado" : "Edita el Certificado";
                    edtSettings.Style["font-size"] = "18px";
                    edtSettings.Style["color"] = "orange";
                }
            )
            .Render();
            ViewContext.Writer.Write("<br>");
            ViewContext.Writer.Write("</br>");

            ViewContext.Writer.Write("<table>" + "<tr>" + "<td>");


            Html.DevExpress().Label(
                edtSettings =>
                {
                    edtSettings.ControlStyle.CssClass = "label";
                    edtSettings.Text = "Nombre";
                    edtSettings.AssociatedControlName = "Nombre";
                }
            )
            .Render();

            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("<td>");
            Html.DevExpress().TextBox(
                edtSettings =>
                {
                    edtSettings.Name = "Nombre";
                    edtSettings.Properties.NullText = "Campo Requerido";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(350);
                    edtSettings.ToolTip = c.KeyValue == null ? "Ingresar Nombre para el Nuevo Certificado" : "Editar Nombre";
                }
            )
            .Bind(DataBinder.Eval(certificado, "Nombre"))
            .Render();

            ViewContext.Writer.Write("</td>");
            ViewContext.Writer.Write("</tr>");
            ViewContext.Writer.Write("</table>");

            //**Botones Guardar & Cancelar
            //ViewContext.Writer.Write("<br>");
            ViewContext.Writer.Write("<hr noshade>");
            Html.DevExpress().Label(
                       edtSettings =>
                       {
                           edtSettings.ControlStyle.CssClass = "label";
                       }
                   )
                   .Render();
            Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnUpdat";
                    btnSettings.Text = "Guardar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "Content/Images/guardar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Images.Image.Width = 16;
                    btnSettings.ClientSideEvents.Click = "function(s, e){ CertificadosGridView" + ".UpdateEdit(); }";
                    btnSettings.ClientVisible = Convert.ToBoolean(ViewData["Escritura"]);
                }
            )
            .Render();

            Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnCance";
                    btnSettings.Text = "Cancelar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "Content/Images/cancelar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Style["position"] = "relative";
                    btnSettings.Style["left"] = "5px";
                    btnSettings.ClientSideEvents.Click = "function(s, e){ CertificadosGridView" + ".CancelEdit(); }";
                }
            )
            .Render();

            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnAyuda";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ayuda";
                btnSettings.Images.Image.Url = "/Content/Images/ayuda.png";
                btnSettings.ImagePosition = ImagePosition.Right;
                btnSettings.Images.Image.Width = 16;
                btnSettings.Style["position"] = "relative";
                btnSettings.Style["left"] = "20px";
                btnSettings.ClientSideEvents.Click = "function(s, e){ window.open('https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.2afmg28','_blank'); }";
            }).Render();

        });

    });
    if (ViewData["EditError"] != null){
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()