@{
    ViewBag.Title = "Recuperar contraseña";
}

<div style="position: absolute; margin-left: 50px">
    <div>
        <h4>@ViewBag.mensaje</h4>
        <br />
        <h5>Nota: Si no llegaras a recibir el correo a tu buzón, revisa tu bandeja de spam</h5>
    </div>
    <br />
    <div>
        @Html.ActionLink("Ir a la página de inicio", "Index", "Home")
    </div>
</div>