@{
    ViewBag.Title = "Registro de Importancia";
}
<h2>Registro de Importancia de la Campaña</h2>
<h3>Registre aquí</h3>

<br>
<br>

@Html.Partial("~/Views/ExportExcelPDF/_ExportExcelPDF.cshtml", new ViewDataDictionary { { "Clave", DXMVCWebApplication1.Common.ListaPantallas.UE_IMPORTANCIA_INO_SA } })

<br>
<br>

@Html.Action("InoImportanciaSAGridViewPartial")