@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "FlujoActividadGridView";

        settings.Style["width"] = "98%";
        settings.Style["position"] = "relative";
        settings.Style["left"] = "10px";
        settings.CommandColumn.Width = 20;

        settings.CallbackRouteValues = new { Controller = "FlujoActividad", Action = "FlujoActividadGridViewPartial" };

        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "FlujoActividad", Action = "FlujoActividadGridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "FlujoActividad", Action = "FlujoActividadGridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "FlujoActividad", Action = "FlujoActividadGridViewPartialDelete" };
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;

        settings.SettingsText.PopupEditFormCaption = "DEFINICIÓN DEL FLUJO DE ACTIVIDADES";

        settings.SettingsPopup.EditForm.Height = 150;
        settings.SettingsPopup.EditForm.Width = 525;
        settings.SettingsPopup.EditForm.HorizontalAlign = DevExpress.Web.ASPxClasses.PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = DevExpress.Web.ASPxClasses.PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.Modal = true;


        settings.SettingsBehavior.ConfirmDelete = true;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButtonInHeader = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowDeleteButton = Convert.ToBoolean(ViewData["Escritura"]);
        settings.CommandColumn.ShowEditButton = Convert.ToBoolean(ViewData["Escritura"]) || Convert.ToBoolean(ViewData["Lectura"]);
        settings.CommandColumn.ShowClearFilterButton = true;  


        settings.KeyFieldName = "Pk_IdFlujoActividad";

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Position = PagerPosition.Bottom;
        settings.SettingsPager.FirstPageButton.Visible = true;
        settings.SettingsPager.LastPageButton.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 10;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "5", "10", "15" };
        settings.Settings.ShowFilterRowMenu = true;

        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        //settings.Columns.Add("Fk_IdEstatusOrigen");
        //settings.Columns.Add("Fk_IdEstatusDestino");
        settings.Columns.Add("StatusActividad.Nombre", "Status Origen");
        settings.Columns.Add("StatusActividad1.Nombre", "Status Destino");
        settings.Columns.Add("Rol", "Encargado del Proceso");

        //*********************************************************
        //Comienza codigo de la forma custom
        //********************************************************

        settings.SetEditFormTemplateContent(c =>
        {
            var flujoactividad = ViewData["dataItem"] ?? c.DataItem;

            Html.DevExpress().Label(
               edtSettings =>
               {
                   edtSettings.ControlStyle.CssClass = "label";
                   edtSettings.Text = c.KeyValue == null ? "Ingresa Flujo de Actividades" : "Edita el Flujo de Actividades";
                   edtSettings.Style["font-size"] = "18px";
                   edtSettings.Style["color"] = "orange";
               }
           )
           .Render();
            ViewContext.Writer.Write(
            "<table>" +
                "<tr>" +  //Table Row
                    "<td>");  //table Data

            Html.DevExpress().Label(
            edtSettings =>
            {
                edtSettings.ControlStyle.CssClass = "label";
                edtSettings.Text = "Status de Origen:";
                edtSettings.AssociatedControlName = "Fk_IdEstatusOrigen";
            }
        )
        .Render();

            Html.DevExpress().ComboBox(
                edtSettings =>
                {
                    edtSettings.Name = "Fk_IdEstatusOrigen";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.Properties.TextField = "Nombre";
                    edtSettings.Properties.NullText = "Campo Requerido";
                    edtSettings.Properties.ValueField = "PK_IdStatusActividad";
                    edtSettings.Properties.ValueType = typeof(int);
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(300);
                    edtSettings.ToolTip = c.KeyValue == null ? "Seleccione el Estado de Origen de la Actividad" : "Cambiar Estado de Origen";
                }
            )
            .BindList(DXMVCWebApplication1.Models.Senasica.GetStatusActividad())
            .Bind(DataBinder.Eval(flujoactividad, "Fk_IdEstatusOrigen"))
            .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
                  edtSettings =>
                  {
                      edtSettings.ControlStyle.CssClass = "label";
                      edtSettings.Text = "Status Destino:";
                      edtSettings.AssociatedControlName = "Fk_IdEstatusDestino";
                  }
              )
              .Render();

            Html.DevExpress().ComboBox(
                edtSettings =>
                {
                    edtSettings.Name = "Fk_IdEstatusDestino";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.Properties.TextField = "Nombre";
                    edtSettings.Properties.NullText = "Campo Requerido";
                    edtSettings.Properties.ValueField = "PK_IdStatusActividad";
                    edtSettings.Properties.ValueType = typeof(int);
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(300);
                    edtSettings.ToolTip = c.KeyValue == null ? "Seleccione el Estado de Destino de la Actividad" : "Cambiar Estado de Destino";
                }
            )
            .BindList(DXMVCWebApplication1.Models.Senasica.GetStatusActividad())
            .Bind(DataBinder.Eval(flujoactividad, "Fk_IdEstatusDestino"))
            .Render();
            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("<td>");
            Html.DevExpress().Label(
               edtSettings =>
               {
                   edtSettings.ControlStyle.CssClass = "label";
                   edtSettings.Text = "Encargado del proceso:";
                   edtSettings.AssociatedControlName = "Rol";
               }
           )
           .Render();
            Html.DevExpress().TextBox(
                edtSettings =>
                {
                    edtSettings.Name = "Rol";
                    edtSettings.ControlStyle.CssClass = "editor";
                    edtSettings.ShowModelErrors = true;
                    edtSettings.Width = Unit.Pixel(250);
                    edtSettings.ToolTip = c.KeyValue == null ? "Ingresar el Rol del Encargado" : "Editar Rol";
                }
            )
            .Bind(DataBinder.Eval(flujoactividad, "Rol"))
            .Render();

            ViewContext.Writer.Write("</td>");

            ViewContext.Writer.Write("</tr>");
            ViewContext.Writer.Write("</table>"); // Termina tabla de Controles
                                                  //***************************************
                                                  //Botones
            ViewContext.Writer.Write("<div class=\"line\">");
            Html.DevExpress().Label(
                edtSettings =>
                {
                    edtSettings.ControlStyle.CssClass = "label";
                }
            )
            .Render();
            Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnUpdat";
                    btnSettings.Text = "Guardar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "Content/Images/guardar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Images.Image.Width = 16;
                    btnSettings.ClientSideEvents.Click = "function(s, e){ FlujoActividadGridView.UpdateEdit(); }";
                    btnSettings.ClientVisible = Convert.ToBoolean(ViewData["Escritura"]);
                }
            )
            .Render();
            Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnCance";
                    btnSettings.Text = "Cancelar";
                    btnSettings.ControlStyle.CssClass = "button";
                    btnSettings.Images.Image.Url = "Content/Images/cancelar.png";
                    btnSettings.ImagePosition = ImagePosition.Right;
                    btnSettings.Style["position"] = "relative";
                    btnSettings.Style["left"] = "5px";
                    btnSettings.ClientSideEvents.Click = "function(s, e){ FlujoActividadGridView.CancelEdit(); }";
                }
            )
            .Render();

            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnAyuda";
                btnSettings.ControlStyle.CssClass = "button";
                btnSettings.Text = "Ayuda";
                btnSettings.Images.Image.Url = "/Content/Images/ayuda.png";
                btnSettings.ImagePosition = ImagePosition.Right;
                btnSettings.Images.Image.Width = 16;
                btnSettings.Style["position"] = "relative";
                btnSettings.Style["left"] = "20px";
                btnSettings.ClientSideEvents.Click = "function(s, e){ window.open('https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.3hv69ve','_blank'); }";
            }).Render();

            ViewContext.Writer.Write("</div>"); // Termina Codigo de Botones

        });//Termina Codigo de la CustomForm


    });//Termina Settings
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()