@{
    ViewBag.Title = "Asignación Coordinador Campaña";
}

<h3 style="font-size:17px; font:bold; text-align:center">ASIGNACIÓN DE COORDINADORES DE CAMPAÑA</h3>
<h3 style="font-size: 13px; text-align: center; position: relative; top: -10px">Registre aquí a los coordinadores de cada campaña</h3>

@Html.Action("CoordinadorCampaniaGridViewPartial")