@{
    ViewBag.Title = "Gastos Transversales";
}

<div style="float: right; margin-right: 20px"><a href="https://docs.google.com/document/d/1ZJURCxDAT76zN4TpKa2cBHEdF3RZFUNkAv3o9iyWxG4/edit#heading=h.3oy7u29" target="_blank"><u>Ayuda</u></a>  |  <a href="http://soporte.simosica.com/support/solutions/articles/22000184563-preguntas-frecuentes" target="_blank"> <u>Preguntas Frecuentes</u></a></div>
 
<h2>Gastos transversales</h2>
<h3>Configure aqui los conceptos de Gastos Transversales </h3>


@Html.Action("GastoTransvGridViewPartial")
